/*Colors*/
$grey1: #F3F4F7;
$grey2: #767884;
$grey3: #292A2E;
$red: #FF3333;

/*Backgrounds*/
.grey1-bg {
    background: $grey1;
}

.grey2-bg {
    background: $grey2;
}

.grey3-bg {
    background: $grey3;
}

.red-bg {
    background: $red;
}

.white-bg {
    background: white;
}
