/*General*/
.input {
  color: black;
  border-radius: 8px;
  transition: 0.125s all ease-in-out;
  box-sizing: border-box;
}

/*Styles*/
.border {
  border: 1px solid lightgrey !important;
}

.border:hover {
  border-color: grey !important;
}

.border:focus {
  border-color: blue !important;
}

.fill {
  background: lightgrey;
  border: 1px solid lightgrey;
}

.fill:hover {
  background: lightgrey;
  border-color: lightgrey
}

.fill:focus {
  background: whitesmoke;
  border-color: whitesmoke;
}
