/*Containers*/
.tiny-container {
  max-width: 320px;
}

.small-container {
  max-width: 616px;
}

.large-container {
  max-width: 936px;
}

.full-container {
    width: 100%;
}

/*Buttons & Inputs*/
.sm {
  padding: 4px 8px;
}

.lg {
  padding: 12px 16px;
}

/*Widths*/
.width100 {
  width: 100%;
}
